<h1>Liste des comptes</h1>


<%= link_to 'Ajouter un compte', new_user_path ,class:"btn pull-right"%>

    <br>
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Statut</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>

        <% @users.each do |user|   %>

            <% if @me == user  %>
                <tr class="info">
            <% end %>
            <td><%= user.user_login %></td>
            <td><%= user.user_mail %></td>




            <% if user.user_status == 1 %>
                <td>
                    Administrateur
                </td>
            <% else %>
                <td>
                    Recruteur
                </td>
            <% end %>


            <td><i class="icon-search"></i><%= link_to 'Détails', user %></td>
            <td><i class="icon-pencil"></i><%= link_to 'Modifier', edit_user_path(user) %></td>
            <td><i class="icon-remove-sign"></i> <%= link_to 'Suppr', user, method: :delete, data: { confirm: 'Valider la suppression ?' } %> </td>
            <td><i class="icon-repeat"></i> <%= link_to( "Reset password", controller: :users, action: :reset_user_password, id:user.id ) %></td>
            <% if user.user_state == 1 %>
                <td>
                    <i class="icon-eye-open"></i>
                    <%= link_to( "Desactiver", controller: :users, action: :deactivate_user, id:user.id ) %>
                </td>
            <% else %>
                <td>
                    <i class="icon-eye-close"></i>
                    <%= link_to( "Activer", controller: :users, action: :activate_user, id:user.id) %>
                </td>
            <% end %>
            </tr>
        <% end %>

        </tbody>

    </table>


