<h1>Listing sessions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Begindate</th>
      <th>Enddate</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.title %></td>
        <td><%= session.beginDate %></td>
        <td><%= session.endDate %></td>
        <td><%= session.description %></td>
        <td><%= link_to 'Voir détails', session %></td>
        <td><%= link_to 'Postuler', new_candidature_path(session) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>