<div class="page-header">
    <center><h2> Les sessions en cours </h2></center>
</div>


<div class="row">
    <% @sessions.each do |session| %>
        <div class="span6">
            <div class="hero-unit">

                <h3><%= session.title %></h3>
                <p>Date de cloture des candidatures : <%= session.endDate.strftime('%d/%m/%Y') %></p>
                <p> <%= session.description[0,250] %>... </p>

                <%= link_to ("Plus d'infos"), session_path(session), :class=>'btn btn-inverse' %>
                <%= link_to t('.new', :default => t("helpers.links.Postuler")),
                            new_candidature_path(session),
                            :class => 'btn btn-primary' %>
            </div>
        </div>
    <% end %>
</div>