<p id="notice"><%= notice %></p>

<p>
    <strong>Titre de la session:</strong>
    <%= @session.title %>
</p>
<p>
    <strong>Poste concerné:</strong>
    <%= @session.profil.title %>
</p>
<p>
    <strong>Date d'ouverture des candidatures:</strong>
    <%= @session.beginDate %>
</p>

<p>
    <strong>Date de fin des candidatures:</strong>
    <%= @session.endDate %>
</p>

<p>
    <strong>Description du poste concerné:</strong>
    <%= @session.profil.description %>
</p>

<p>
    <strong>Description de la session de recrutement:</strong>
    <%= @session.description %>
</p>

<%= link_to 'Postuler', new_candidature_path(@session) %>
<%= link_to 'Liste des sessions en cours', sessions_path %>
