<div class="page-header">
    <h2><center><%=@session.title %> </center></h2>
</div>

<div class="hero-unit">
<p>
    <strong>Disponible du : </strong> <%= @session.beginDate.strftime('%d/%m/%Y') %><strong> au : </strong> <%= @session.endDate.strftime('%d/%m/%Y') %>
</p>



<p>
    <strong>Poste concerné:</strong>
    <%= @session.profil.title %>
</p>

<p>
    <strong>Description du poste concerné:</strong>
    <%= @session.profil.description %>
</p>



<p>
    <strong>Description de la session de recrutement:</strong>
    <%= @session.description %>
</p>

<%= link_to 'Postuler', new_candidature_path(@session) , class: "btn" %>
</div>