<h1>Espace réservé. Veuillez vous identifier</h1>
<br/>

<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>

<!-- Utilisation des helpers Rails pour faire le formulaire (indispenssable)-->
<div class="row">

    <%= form_tag login_path, class: %(login-form well span4 offset4) do %>
        <%= field_set_tag(t 'Connexion') {} %>
        <i class="icon-white icon-user">  </i> <%= text_field :user_login, :user_login ,required:true%><br/>
        <i class="icon-white icon-question-sign">  </i><%= password_field :user_pass , :user_pass,required:true %><br/>
        <%= submit_tag 'Valider' , class: %(btn btn-primary pull-right)%>

    <% end %>
</div>