<h1>Liste des sessions de recrutement</h1>

<table>
    <thead>
    <tr>
        <th>Poste</th>
        <th>Title</th>
        <th>Begindate</th>
        <th>Enddate</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    </thead>

    <tbody>
    <% @sessions.each do |session| %>
        <tr>
            <td><%= session.profil.title %></td>
            <td><%= session.title %></td>
            <td><%= session.beginDate %></td>
            <td><%= session.endDate %></td>
            <td><%= session.description %></td>
            <td><%= link_to 'Modifier', edit_admin_session_path(session) %></td>
            <td><%= link_to 'Supprimer', admin_session_path(session), method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <% if session.state == Session::ACTIVATE %>
                <td>
                    <i class="icon-eye-open"></i>
                    <%= link_to("Suspendre la session", deactivate_admin_session_path(session), method: :post) %>
                </td>
            <% else %>
                <td>
                    <i class="icon-eye-close"></i>
                    <%= link_to("Relancer la session", activate_admin_session_path(session), method: :post) %>
                </td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'Ajouter une session de recrutement', new_admin_session_path %>
