<div class="page-header">
    <h2> <center>Nouvelle session</center></h2>
</div>
<%= form_for [:admin, @session] do |f| %>
    <% if @session.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

            <ul>
                <% @session.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :profil_id , "Profil de poste" %>
        <%= select("session", "profil_id", Profil.all.collect { |profil| [profil.title, profil.id] })%>
        <%= link_to 'Créer un nouveau profil', new_admin_profil_path, class: "btn pull" %>
    </div>

    <div class="field">
        <%= f.label :title , "Titre de la session" %><br>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :beginDate ,"Date début" %><br>
        <%= f.date_select :beginDate %>
    </div>
    <div class="field">
        <%= f.label :endDate , "Date fin" %><br>
        <%= f.date_select :endDate %>
    </div>
    <div class="field">
        <%= f.label :description , "Description de la session" %><br>
        <%= f.text_area :description , :size => "5x5" , :class => "span8"%>
    </div>

    <div class="field">

    </div>
    <div class="actions">
        <%= f.submit "Creer la session "%>
    </div>
<% end %>

