<h1>Editing profil</h1>

<%= form_for(@profil, url: admin_profil_path(@profil), method: "patch") do |f| %>
    <% if @profil.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@profil.errors.count, "error") %> prohibited this profil from being saved:</h2>

            <ul>
                <% @profil.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title ,"Titre du profil"%><br>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :description ,"Description" %><br>
        <%= f.text_area :description %>
    </div>
    <div class="actions">
        <%= f.submit "Valider" %>
    </div>
<% end %>

