<div class="page-header">
    <h2> <center>Nouveau profil de poste</center></h2>

</div>

<%= form_for [:admin, @profil] do |f| %>
    <% if @profil.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@profil.errors.count, "error") %> prohibited this profil from being saved:</h2>

            <ul>
                <% @profil.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title ,"Titre du profil"%><br>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :description ,"Description" %><br>
        <%= f.text_area :description , :size => "5x5" , :class => "span8"%>
    </div>
    <div class="actions">
        <%= f.submit "Creer le profil" %>
    </div>
<% end %>
