
<div class="page-header">
    <h2><center>Liste des sessions de recrutement</center></h2>
</div>

<%= link_to 'Nouvelle session', new_admin_session_path, class: "btn pull-right" %>
<br>
<br>
<br>

<table class="table-striped table-bordered span12">
    <thead>
    <tr>
        <th>Poste concerné</th>
        <th>Titre de la session</th>
        <th>Date de début</th>
        <th>Date de clotûre</th>
        <th>Statut</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% @sessions.each do |session| %>

        <tr>
            <td><h6><%= session.profil.title %></h6></td>
            <td><%= session.title %></td>
            <td><%= session.beginDate.strftime('%d/%m/%Y') %></td>
            <td><%= session.endDate.strftime('%d/%m/%Y') %></td>
            <% if session.get_status == :pending %>
                <td>
                <span class="label label-success">
                Session en cours
                </span>
                </td>
            <% elsif session.get_status == :planned %>
                <td>
                <span class="label label-info">
                Session prévue
                </span>
                </td>
            <% else %>
                <td>
                <span class="label label-inverse">
                Session terminée
                </span>
                </td>
            <% end %>
            <td><i class="icon-tasks"> </i><%= link_to 'Voir candidatures', recruteur_candidatures_path(session), method: :get %></td>
            <td>
                <i class="icon-remove-sign"></i> <%= link_to 'Supprimer', admin_session_path(session), method: :delete, data: {confirm: 'Confirmer la suppression ?'} %>
            </td>
            <% if session.state == Session::ACTIVATE %>
                <td>
                    <i class="icon-eye-open"></i>
                    <%= link_to("Suspendre", deactivate_admin_session_path(session), method: :post) %></td>
                </td>
            <% else %>
                <td>
                    <i class="icon-eye-close"></i>
                    <%= link_to("Relancer", activate_admin_session_path(session), method: :post) %>
                </td>
            <% end %>
        </tr>
    <% end %>

    </tbody>

</table>
