

<%- model_class = Session -%>
<div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
    <dd><%= @session.title %></dd>
    <dt><strong><%= model_class.human_attribute_name(:beginDate) %>:</strong></dt>
    <dd><%= @session.beginDate %></dd>
    <dt><strong><%= model_class.human_attribute_name(:endDate) %>:</strong></dt>
    <dd><%= @session.endDate %></dd>
    <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
    <dd><%= @session.description %></dd>

</dl>


