<h1>Listing candidatures</h1>

<table>
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>Mail</th>
      <th>Motivation</th>
      <th>Submitdate</th>
      <th>Borndate</th>
      <th>Result</th>
      <th>Id session</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @candidatures.each do |candidature| %>
      <tr>
        <td><%= candidature.pseudo %></td>
        <td><%= candidature.mail %></td>
        <td><%= candidature.motivation %></td>
        <td><%= candidature.submitDate %></td>
        <td><%= candidature.bornDate %></td>
        <td><%= candidature.result %></td>
        <td><%= candidature.id_session %></td>
        <td><%= link_to 'Show', candidature %></td>
        <td><%= link_to 'Edit', edit_candidature_path(candidature) %></td>
        <td><%= link_to 'Destroy', candidature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidature', new_candidature_path %>
