<p id="notice"><%= notice %></p>

<p>
    <strong>Votre psseudo:</strong>
    <%= @candidature.pseudo %>
</p>

<p>
    <strong>Votre mail:</strong>
    <%= @candidature.mail %>
</p>

<p>
    <strong>Votre description:</strong>
    <%= @candidature.motivation %>
</p>

<p>
    <strong>Date de naissance:</strong>
    <%= @candidature.bornDate %>
</p>

<p>
    <strong>Vous avez postulé le:</strong>
    <%= @candidature.submitDate %>
</p>

<strong> Vous pouvez retirer votre candidature en cliquant sur le lien suivant, attention, aucun retour en arrière ne
    sera possible.
    Si vous changez d'avis, il vous faudra créer une nouvelle candidature à partir de zéro. </strong>

<td><%= link_to 'Destroy', @candidature, method: :delete, data: {confirm: 'Confirmer la suppresion ?'} %></td>

