<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudo:</strong>
  <%= @candidature.pseudo %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @candidature.mail %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @candidature.motivation %>
</p>

<p>
  <strong>Submitdate:</strong>
  <%= @candidature.submitDate %>
</p>

<p>
  <strong>Borndate:</strong>
  <%= @candidature.bornDate %>
</p>

<p>
  <strong>Result:</strong>
  <%= @candidature.result %>
</p>

<p>
  <strong>Id session:</strong>
  <%= @candidature.session_id %>
</p>

