<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to root_path, class: %w(brand) do %>
                E-Univers
            <% end %>
            <% if @me %>
                <% if @me.user_status==1 || @me.user_status==2 %>
                    <ul class="nav navbar-nav">
                        <li>
                            <%= link_to sessions_path, class: "link" do %>
                                <i class="icon-list"></i>
                                Gestion des Sessions
                            <% end %>
                        </li>

                        <% if @me.user_status==1 %>
                            <li>

                                <%= link_to users_path, class: "link" do %>
                                    <i class="icon-wrench"></i>
                                    Gestion des Comptes
                                <% end %>
                            </li>
                        <% end %>
                        <% if @me.user_status==2 %>
                            <li>
                                link_to "Comment wall", profile_path(@profile
                                <%=link_to user_path(@me.id), class: "link" do %>
                                    <i class="icon-wrench"></i>
                                    Gestion de mon Compte
                                <% end %>
                            </li>
                        <% end %>

                </ul>
                    <div>


                        <ul class="nav pull-right">
                            <li>
                                <%= link_to logout_path, class: %w(navbar-link) do %>
                                    <i class="icon-signout"></i>
                                    <%= t 'Deconnexion' %>
                                <% end %>
                            </li>
                            <li>
                                <a>
                                    <i class="icon-user"></i>
                                    <%= @me.user_login %>
                                </a>
                            </li>
                        </ul>
                <%end%>
            <% else %>
                <ul class="nav pull-right">
                    <li>
                        <a href="#modal-login" data-toggle="modal" class="navbar-link">
                            <i class="icon-signin"></i>
                            <%= t 'Connexion' %>
                        </a>
                    </li>
                </ul>
            <% end %>
            </div>
        </div>
    </div>
</header>
