<h1>Nouveau profil de poste</h1>

<%= form_for [:admin, @profil] do |f| %>
    <% if @profil.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@profil.errors.count, "error") %> prohibited this profil from being saved:</h2>

            <ul>
                <% @profil.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Liste des profils de postes', admin_profils_path %>
