<div class="hero-unit">
    <h3>Nouvel utilisateur</h3>
    <br>

    <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="field">
            <%= f.label :status %>
            <%= f.select(:status, options_for_select([['Administrateur', User::ADMIN], ['Recruteur', User::RECRUTEUR]])) %>
        </div>
        <div class="field">
            <%= f.label :login %>
            <%= f.text_field :login %>
        </div>
        <div class="field">
            <%= f.label :mail %>
            <%= f.text_field :mail %>
        </div>


        <div class="actions">
            <%= f.submit 'Valider', :class => 'btn' %>
        </div>
    <% end %>




<%= link_to 'Retour', users_path, class: "btn pull-right"  %>
</div>