<div class="page-header">
    <center><h2> Espace réservé, veillez vous identifier </h2></center>
</div>



<div class="container">
    <div class="row">

        <%= form_tag login_path, class: %(login-form well span4 offset4) do %>
            <%= field_set_tag(t 'Connexion') {} %>
            <i class="icon-white icon-user">  </i> <%= text_field :login, :login ,required:true%><br/>
            <i class="icon-white icon-question-sign">  </i><%= password_field :pass , :pass,required:true %><br/>
            <%= submit_tag 'Valider' , class: %(btn btn-primary pull-right)%>

        <% end %>

    </div>
</div>

