
<h2>Modification  </h2>

<%= form_for(@user, url: admin_user_path(@user), method: "patch")  do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div class="field">

        <% if @user.status == User::RECRUTEUR %>

            <i class="icon-star"></i>
            <%= link_to("Nommer Administrateur", set_admin_admin_user_path(@user), method: :post) %>
            <br>
            <i class="icon-star-empty"></i>
            <%= link_to("Nommer Manager", set_manager_admin_user_path(@user), method: :post) %>
            <br>

        <% elsif @user.status == User::MANAGER %>
            <i class="icon-star"></i>
            <%= link_to("Nommer Administrateur", set_admin_admin_user_path(@user), method: :post) %>
            <br>
            <i class="icon-star-empty"></i>
            <%= link_to("Nommer Recruteur", set_recruteur_admin_user_path(@user), method: :post) %>
            <br>

        <% else %>
            <i class="icon-star"></i>
            <%= link_to("Nommer Manager", set_manager_admin_user_path(@user), method: :post) %>
            <br>
            <i class="icon-star-empty"></i>
            <%= link_to("Nommer Recruteur", set_recruteur_admin_user_path(@user), method: :post) %>
            <br>



        <% end %>
        <br>
    </div>



    <div class="field">
        <%= f.label :login %><br>
        <%= f.text_field :login %>
    </div>
    <div class="field">
        <%= f.label :mail %><br>
        <%= f.text_field :mail %>
    </div>



    <div class="actions">

        <%= f.submit "Appliquer les changements" %>
        <%= button_to "Annuler" , admin_users_path  %>

    </div>


<% end %>
