<%= form_for(@candidature) do |f| %>
  <% if @candidature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidature.errors.count, "error") %> prohibited this candidature from being saved:</h2>

      <ul>
      <% @candidature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :candidature_pseudo %><br>
    <%= f.text_field :candidature_pseudo %>
  </div>
  <div class="field">
    <%= f.label :candidature_mail %><br>
    <%= f.text_field :candidature_mail %>
  </div>
  <div class="field">
    <%= f.label :candidature_motivation %><br>
    <%= f.text_field :candidature_motivation %>
  </div>
  <div class="field">
    <%= f.label :candidature_date %><br>
    <%= f.date_select :candidature_date %>
  </div>
  <div class="field">
    <%= f.label :candidature_bornDate %><br>
    <%= f.date_select :candidature_bornDate %>
  </div>
  <div class="field">
    <%= f.label :candidature_result %><br>
    <%= f.check_box :candidature_result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
