<h1>Listing candidatures</h1>

<table>
  <thead>
    <tr>
      <th>Candidature pseudo</th>
      <th>Candidature mail</th>
      <th>Candidature motivation</th>
      <th>Candidature date</th>
      <th>Candidature borndate</th>
      <th>Candidature result</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @candidatures.each do |candidature| %>
      <tr>
        <td><%= candidature.candidature_pseudo %></td>
        <td><%= candidature.candidature_mail %></td>
        <td><%= candidature.candidature_motivation %></td>
        <td><%= candidature.candidature_date %></td>
        <td><%= candidature.candidature_bornDate %></td>
        <td><%= candidature.candidature_result %></td>
        <td><%= link_to 'Show', candidature %></td>
        <td><%= link_to 'Edit', edit_candidature_path(candidature) %></td>
        <td><%= link_to 'Destroy', candidature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidature', new_candidature_path %>
