<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to admin_sessions_path, class: %w(brand) do %>
                E-Univers
            <% end %>
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to recruteur_sessions_path, class: "link" do %>
                        <i class="icon-list"></i>
                        Gestion des Sessions
                    <% end %>
                </li>
                <li>
                    <%= link_to admin_users_path, class: "link" do %>
                        <i class="icon-wrench"></i>
                        Gestion des Comptes
                    <% end %>
                </li>
                <li>
                    <%= link_to admin_profils_path, class: "link" do %>
                        <i class="icon-book"></i>
                        Gestions des profils
                    <% end %>
                </li>

            </ul>
            <div>
                <ul class="nav pull-right">
                    <li>
                        <%= link_to logout_path, class: %w(navbar-link) do %>
                            <i class="icon-signout"></i>
                            <%= t 'Deconnexion' %>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to edit_user_path(@me), class: %w(navbar-link) do %>
                            <i class="icon-user"></i>
                            <%= t @me.login %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
